.container {
  display: grid;
  grid-template-areas:
    'nav'
    'header'
    'main'
    'footer';
  grid-template-rows: auto auto 1fr 36px;
  align-items: center;
  min-height: 100vh;
}

.left_panel {
  position: fixed;
  left: 10px;
  top: 10px;
  width: 30%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.right_panel {
  position: fixed;
  right: 10px;
  top: 10px;
  width: 30%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}